<?xml version="1.0"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    testSuiteLoaderClass="PHPUnit\Runner\StandardTestSuiteLoader"
    testSuiteLoaderFile=""
    verbose="true">
    <testsuites>
        <testsuite name="AI Virtual Fitting Plugin Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./includes/</directory>
            <directory suffix=".php">./admin/</directory>
            <directory suffix=".php">./public/</directory>
            <exclude>
                <directory suffix=".php">./tests/</directory>
                <directory suffix=".php">./vendor/</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./tests/coverage"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
    </logging>
</phpunit>